APP_ENV=development
LOG_LEVEL=INFO
LOG_STREAM_KEY=logs
PORT=8080
REDIS_URL="redis://localhost:6379"
LANGCACHE_API_URL="https://aws-us-east-1.langcache.redis.io"
LANGCACHE_CACHE_ID="a0bf55c5dec54041b4308b4349486178"
LANGCACHE_API_KEY="lc1_D0ehzREEd3hfCcIL19E69mBZ8Su88ExCeYXToRPPjSnjUUfIXvNP4hJAHvgnJEvibXzsjhxb7O8WSxsk_mu1p0F7KQtF_Pg93aDyarS5zZsF1dBD11S8Y9xFMi-WYhwlm1yMWspap6BYAIdKaQ=="
LANGCACHE_CACHE_THRESHOLD=0.65
OPENAI_API_KEY="sk-your-openai-api-key"
OPENAI_MODEL="gpt-5.4-mini"
